astroid==2.6.2
click==8.1.2
colorama==0.4.5
Flask==2.1.1
isort==5.10.1
itsdangerous==2.1.2
Jinja2==3.0.1
lazy-object-proxy==1.7.1
MarkupSafe==2.1.1
mccabe==0.7.0
pylint==2.9.6
six==1.16.0
toml==0.10.2
Werkzeug==2.2.3
wrapt==1.12.1

